/* ======================================================================
  SUMMARY

  General styling

  Sun

  Planets

  Moons

  Mercury
  Venus
  Earth
    Moon
  Mars
    Deimos
    Phobos
  Jupiter
    Io
    Europa
    Ganymede
    Callisto
  Saturn
    Titan
  Uranus
  Neptune 

  Animations

  Select menu

*/

/* ====================================================================
  General Styling
===================================================================== */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#solar_system {
  background: rgb(0, 0, 0);
  background-image: url(images/space_4.jpg);
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* ======================================================================
  Sun 
====================================================================== */
#sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sun_image {
  width: 10vw;
  animation: sun_rotation 2800ms 1s linear infinite;
}

/* =====================================================================
  Planets 
====================================================================== */
.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid grey;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.planet_image {
  position: absolute;
  top: -0vw;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ====================================================================
  Moons 
===================================================================== */
.moon {
  position: absolute;
  left: 50%; 
  transform: translate(-50%, -50%);
}
.moon_container {
  position: absolute;
  padding: 2vw;
  /* border: 1px solid #b7bdc4; */    /* Moons orbit */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.moon_image {
  position: absolute;
  top: -0vw;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5vw;
}

/* Mercury =========================================================================== */
#mercury_orbit {
  width: 10vw;
  height: 10vw;
  border: 1px solid #b7bdc4;
}
#mercury_image {
  width: 1vw;
}

/* Venus =========================================================================== */
#venus_orbit {
  width: 15vw;
  height: 15vw;
  border: 1px solid #ffc85f;
}
#venus_image {
  width: 2vw;
}

/* Earth =========================================================================== */
#earth_orbit {
  width: 20vw;
  height: 20vw;
  border: 1px solid #03aa6f;
}
#earth_image {
  width: 2vw;
}

#moon_container {
  padding: 2vw;
}

/* Mars =========================================================================== */
#mars_orbit {
  width: 25vw;
  height: 25vw;
  border: 1px solid #f04729;
}
#mars_image {
  width: 1.3vw;
}

#deimos_container {
  padding: 1.5vw;
}

#phobos_container {
  padding: 1vw;
}

/* Jupiter =========================================================================== */
#jupiter_orbit {
  width: 35vw;
  height: 35vw;
  border: 1px solid #e5936a;
}
#jupiter_image {
  width: 4vw;
}

#io_container {
  padding: 2.5vw;
}
#europa_container {
  padding: 2.8vw;
}
#ganymede_container {
  padding: 3.1vw;
}
#callisto_container {
  padding: 3.4vw;
}

/* Saturn =========================================================================== */
#saturn_orbit {
  width: 45vw;
  height: 45vw;
  border: 1px solid #d18030;
}
#saturn_image {
  width: 4vw;
}

#titan_container {
  padding: 3vw;
}

/* Uranus =========================================================================== */
#uranus_orbit {
  width: 55vw;
  height: 55vw;
  border: 1px solid #69ccd7;
}
#uranus_image {
  width: 2.6vw;
}

/* Neptune =========================================================================== */
#neptune_orbit {
  width: 65vw;
  height: 65vw;
  border: 1px solid #2683c9;
}
#neptune_image {
  width: 2.6vw;
}

#triton_container {
  padding: 2.5vw;
}

/* ===============================================================================
  Animations 
================================================================================ */
@keyframes sun_rotation {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    transform: rotate(359deg);
    opacity: 1;
  }
}

@keyframes year_rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

@keyframes planet_rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

/* ===============================================================================
  Select menu
================================================================================ */
.select_container {
  border: 1px solid white;
  border-radius: 8px;
  z-index: 5;
  width: 12rem;
  padding: 0.5rem;
  line-height: 2rem;
  position: absolute;
  top: 5vw;
  left: 2vw;
  background: rgb(195, 195, 195);
  
}

#select_ratio {
  padding: 0.3rem;
}







